<footer class="bg-dark text-white text-center py-3 mt-5">
  <div class="container">
    <p class="mb-0">
      Teste <a href="https://www.fretadao.com.br" target="_blank" class="text-white fw-bold">Fretadão</a> - Desenvolvido por 
      <a href="https://github.com/joao-henrique-rebase" target="_blank" class="text-white fw-bold">
        @joao-henrique-rebase
      </a>
    </p>
  </div>
</footer>