<nav class="navbar navbar-dark bg-dark shadow-lg">
  <div class="container">
    <a class="navbar-brand fw-bold" href="<%= root_path %>">
      <i class="bi bi-github"></i> Github Indexer
    </a>
    <ul class="navbar-nav d-flex flex-row gap-3">
      <li class="nav-item">
        <a class="nav-link text-white" href="<%= new_profile_path %>">
          <i class="bi bi-plus-circle"></i> Adicionar Perfil
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="<%= profiles_path %>">
          <i class="bi bi-list"></i> Listar Perfis
        </a>
      </li>
    </ul>
  </div>
</nav>
